<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CarsDbConnection"
             connectionString="Server=DESKTOP-GM2U4UN\SQLEXPRESS;Database=CarsDb;User ID=sa;Password=norman@2020;TrustServerCertificate=True;MultipleActiveResultSets=true"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>